

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

<style>
body {width:960px; margin:0 auto; }

header#site-header {postion:relative;
		width:960px;
		height:100px;
		background-color:lightyellow;
		}
		
header h1 {display:block;
		image:url(images/logo.png);
		top:10px;
		padding-left:30px;
		width:40px:
		height:30px;
		}
			
header nav {postion:relative;
			float:left
			top:15px;
			}
			
header a {font-family:helvetica;
			font-size:10px;
			color:black;
			}
			
h1 img {position:absolute;
	left:10px;
	top:15px;
    display:block;
    }

nav {position:absolute;
	float:left;
	margin:0 auto;
	width:960px;
	top:100px;
	font-family:helvetica;
	font-size:14px;
	letter-spacing:.2em;
	text-transform:uppercase;
	text-decoration:none;
	border-top-style:solid;
    border-top-width:2px;
	border-bottom-style:solid;
    border-bottom-width:2px;
    background-color:magenta;
    color:magenta;
	}
	
nav ul,li {float:left;
			margin:10px;
    }

a {color:white;
	text-decoration:none;
	 }
	
article#page {position:relative;
		width:370px;
		top:100px;
		}

article h1 {font-family:Century-Schoolbook; 
	font-size:45px; 
	font-style:italic;
	text-transform:BoldItalic;
	font-weight:bold;
	height:20px;
	color:green;
	}

article h2 {font-family:helvetica; 
	font-size:14px; 
	text-transform:uppercase;
	height:10px;
	color:magenta;
	letter-spacing:.1em;
	}

article p {font-family:helvetica;
	font-size:10px;
	color:gray;
	line-height:1.6em;
	letter-spacing:.04em;
	}
	
aside sidebar {float:left;
		width:30px;
		top:10px;
		}

aside h1 {float:right;
	font-family:helvetica; 
	font-size:14px; 
	text-transform:uppercase;
	height:5px;
	color:magenta;
	margin:20px;}
	
aside li {postion:relative;
			float:right;
			height:0px;
			}
			
aside a {color:gray;
		text-decoration:none;
		text-transform:uppercase;
		font-family:helvetica;
		font-size:10px;
		}
		
aside ul {float:right; 
		width:100px;
		padding:10px;
		}

aside img {postion:relative;
		float:right;
		width:150px;
		}
    
		
footer {width:960px;
		height:150px;
		background-color:blue;
		}
		
footer nav {float:right;
			width:20px;
			}

footer h1 {font-family:helvetica;
			color:gray;
			font-size:14px;
			text-transform:uppercase;
			top:100px;
			letter-spacing:.1em;
			}

footer p {font-family:helvetica;
			font-size:10px; 
			color:white;
			width:150px;
			}
			
footer ul li {float:right;
			width:40px;
			}	
			
			
</style>