/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* START OF STYLE */

<style>
body {width:100%; }

#site-wrapper {width:100%;
			background-color:lightyellow;
			height:130px;
			}

#site-header {position:relative;
		width:800px; margin:auto;
		padding-bottom:10px;
		display:block;
		}
		
#site-header h1 a {display:block;
		background:url(images/logo.png) no-repeat top left;
		width:300px:
		height:125px;
		}
			
#top-nav {position:absolute;
			float:right;
			top:15px;
			left:695px;
			color:black;
			}
			
#top-nav a {font-family:helvetica;
			text-decoration:none;
			font-size:10px;
			color:black;
			}
			
#menu-wrapper {width:100%;
				background-color:magenta;
				}
			
#main-menu {
	clear:both;
	width:800px;
	height:30px;
	margin:auto;
	}

#main-menu a {
	float:left;
	text-decoration:none;
	margin-top;8px;
	font-family:helvetica;
	font-size:14px;
	letter-spacing:.2em;
	text-transform:uppercase;
	color:white;
	}
	
#content-wrapper {
	width:100%;
}	

#content {width: 800px;
		margin: auto;
		display:block;
		}	

#page {clear:both;
		float:left;
		width:400px;
		margin-top:20px;
		}

#page h1 {font-family:Century-Schoolbook; 
	font-size:45px;
	font-style:italic;
	font-weight:bold;
	height:20px;
	color:green;
	}

#page h2 {font-family:helvetica; 
	font-size:14px; 
	text-transform:uppercase;
	height:10px;
	color:magenta;
	letter-spacing:.1em;
	}

#page p {font-family:helvetica;
	font-size:10px;
	color:gray;
	line-height:1.6em;
	letter-spacing:.04em;
	}
	
#sidebar {position:relative;
		float:right;
		margin-top:70px;
		margin-bottom:100px;
		width:275px;
		}

#sidebar h1 {font-family:helvetica; 
			font-size:14px; 
			text-transform:uppercase;
			color:magenta;
			margin:5px 0px}
			
#sidebar ul {
	margin-bottom:10px;
	}
#sidebar a {
	font-family:arial;
	text-decoration:none;
	color:gray;
	font-weight:bold;
	line-height: 1.5em;
	font-size:11px;
	}
    
#footer-wrapper {
	clear:both;
	background-color:#744918;
	height:200px;
	width:100%;
	}

#site-footer{width:800px;
			margin:auto;
			display:block;
		}

#footer-contact {
	float:left;
	width:150px;
	margin-top:10px;
	}

#footer-contact h1 {
	font-family:arial;
	color:#d0c7b1;
	font-size:14px;
	text-transform:uppercase;
	}

#footer-contact p{
	font-family:arial;
	color:#ffffff;
	font-size:11px;
	margin-top:10px;
	}

#footer-follow {
	position:relative;
	float:right;
	width:250px;
	margin-right:0;
	margin-top:10px
	}

#footer-follow h1 {
	font-family:arial;
	color:#d0c7b1;
	font-size:14px;
	text-transform:uppercase;
	}	

#footer-follow li a {
	float:left;
	margin-top:10px;
	}

</style>

/* END OF STYLE */